@import "tailwindcss";



/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
    display: none;
  }
  
  
  body {
    -ms-overflow-style: none;
    /* For IE & Edge */
    scrollbar-width: none;
    /* For Firefox */
  }
  
  /* animation for header */
  @keyframes slideInRight {
    0% {
      transform: translateX(15%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-slide-in-right {
    animation: slideInRight 0.8s ease forwards;
  }
  
  @-moz-document url-prefix() {
    html {
      font-size: 12.6px  !important;
    }
  }
  
  @supports (-webkit-touch-callout: none) {
    html {
      font-size: 12px !important;
    }
  }
  