@import "tailwindcss";
@import '../node_modules/modern-normalize/modern-normalize.css';

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
    display: none;
  }
  
  
  body {
    -ms-overflow-style: none;
    /* For IE & Edge */
    scrollbar-width: none;
    /* For Firefox */
  }
  
  /* animation for header */
  @keyframes slideInRight {
    0% {
      transform: translateX(15%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-slide-in-right {
    animation: slideInRight 0.8s ease forwards;
  }
  
  @-moz-document url-prefix() {
    html {
      font-size: 10px  !important;
    }
  }
  
  @supports (-webkit-touch-callout: none) {
    html {
      font-size: 10px !important;
    }
  }
  